<img [attr.src]="posterLink" class="hall" />
<h1>{{title}}</h1>
<ul class="specs">
   <li>
      <span>length (in minutes)</span>
      <dd>{{length}}</dd>
   </li>
</ul>

<form  name="form" (ngSubmit)="onSubmit()" #f="ngForm">

<!-- <div class="form-group">
   <input
   type="hidden"
   name="movieId"
   [(ngModel)]="id"
   #movieId="ngModel"
   />     
</div>

<div class="form-group">
   <input
   type="hidden"
   name="hallId"
   [(ngModel)]="hallId"
   #movieId="ngModel"
   />     
</div>

<div class="form-group">
   <input
   type="hidden"
   name="sessionDateTime"
   [(ngModel)]="sessionDateTime"
   #movieId="ngModel"
   />     
</div> -->
<div class="form-group">
   <button >Buy Ticket</button>
</div>
</form>
