<img [attr.src]="imageUrl" class="cinema" />
<h1>{{name}}</h1>
<ul class="specs">
   <li>
      <span>Start Work Hour</span>
      <dd>{{startWorkTime}}</dd>
   </li>
   <li>
      <span>End Work Hour</span>
      <dd>{{closeWorkTime}}</dd>
   </li>
</ul>
<div class="col-md-10">
   <h1>Available halls</h1>
   <ul class="halls">
      <li *ngFor="let hall of cinemaHalls" class="thumbnail">
         <a routerLink="/halls/{{hall.id}}" class="nav-link">
         <img [attr.src]="hall.imageUrl" alt="{{hall.name}}" />
         </a>
         <a routerLink="/halls/{{hall.id}}">{{hall.name}}</a>
      </li>
   </ul>
</div>